@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
    
}
.header_content{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    align-items: center;
    display: flex;
    gap: 0.625rem;
    font-size: 2rem;
    font-weight: bold;
}
.logo img{
    height: 5.87rem;
    width: 1.93rem;
}
.logo p{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
.nav-link{
    color: #718096;
    font-size: 1.12rem;
    font-weight: 600;
    transition: 0.1s;
}
@media screen and (min-width:860px) {
    .nav{
        display: flex;
    }
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    font-size: 0.9rem;
    border-radius: 0.375rem;
    padding: 0.65rem 1.2rem;
    font-weight: 500;
    transition: 0.1s;
}
@media screen and (min-width:860px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}

.menu-button{
    display: none;
    border: none;
    padding: 0.5rem 0.9rem;
    border-radius: 0.375rem;
}
@media screen and (max-width:860px) {
    .menu-button{
        display: block;
    }
}
.menu-button img{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ffffff;
}
.main-section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    gap:1.6rem
}
.content-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1.4rem;

    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

#title_para{
    font-size: 1.15rem;
    color: var(--primary-color);
    font-weight: bold;
}
.content-left h1{
    font-weight:bolder;
    font-size: 2.1rem;
    color: var(--text-color);
}
.section-description{
    color: var(--gray);
    font-size:1.1rem ;
}




.button-group{
    display: flex;
    justify-content: center;
    gap: 0.9rem;
}
.start-button{
    color: #ffffff;
    background-color: var(--primary-color);
    font-size: 0.9rem;
    border-radius: 0.375rem;
    padding: 0.65rem 1.2rem;
    font-weight: 500;
}
.tour-button{
    color: #ffffff;
    background-color: var(--dark-gray);
    font-size: 0.9rem;
    border-radius: 0.375rem;
    padding: 0.65rem 1.2rem;
    font-weight: 500;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-container{
    max-height: 450px;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    height: 57vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.section-image{
    height: 100%;
    width: 100%;
    
}

@media screen and (min-width:860px) {
    .header_content{
        max-width: 85%;
    }
    .main-section{
        max-width: 85%;
        flex-direction: row;
        margin-top: 1rem;
    }
    .content-left{
        display: flex;
        text-align: left;
        margin-top: 4rem;
        max-width: 50%;
    }
    .button-group{
        justify-content: start;
    }
    .image-container{
        height: 70vh;
    }
    
}

/* COMPANY-CONTAINER */
.company-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: slideFromLeft 1s ease forwards;
}
.company-grid{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    row-gap: 4rem;
    background-color: var(--light-gray);
    padding: 1.8rem 2rem;
    border-radius: 0.6rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.comp-logo-img{
    height: 1.5rem;
}

@media screen and (min-width: 860px){
    .company-grid{
        gap: 3rem;
        grid-template-columns: repeat(4,1fr);
        padding: 1.5rem 2rem;
    }
    .company-container h1{
        font-size: 2rem;
        font-weight: bold;
    } 
    
}

/* FEATURE-CONTAINER */
.feature-main-container{
    background-color: var(--light-gray);
    margin-top: 2rem;
}
.feature-container{
    max-width: 64%;
    margin: 0 auto;

}
.feature-content{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding-bottom: 2.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 0.8rem;
    padding: 1.5rem 1.1rem;
    min-height: 10rem;
 
}
.feature-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    color: white;
}
.feature-title{
    font-size: 1.1rem;
    font-weight: bold;
}
.feature-description{
    text-align: center;
    font-size: 0.9rem;
}

.icon-container{
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    margin-bottom: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container img{
    height: 100%;
    width: 100%;
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #FF6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width: 860px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-container{
        max-width: 100%;
        margin: 0 2rem;
    }
}

/* TESTIMONIAL-CONTAINER */
.testimonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 4rem;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
.testimonial-grid{
    margin-top: 2rem;
    display: grid;
    gap: 1.89rem;
    grid-template-columns: repeat(3,1fr);
}
.testimonial-card{
    padding: 1.2rem;
    border: 0.1px solid rgba(0, 0, 0, 0.217);
    border-radius: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #f3edee;
    background-image: linear-gradient(0deg, #f9f8f8 0%, #ffffff 100%);

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    max-width: 510px;
}
.testimonial-card:hover{
    transform: scale(1.05);
    border: 1px solid var(--primary-color);
}

.testimonial-avatar img {
    height: 4.8rem;
}
.testimonial-heading{
    font-size: 1.8rem;
}
.testimonial-text{
    font-size: 0.82rem;
    color: var(--dark-gray);
}
.testimonial-details h3{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: bold;
}
.testimonial-details p{
    font-size: 0.9rem;
    color: var(--gray);
}

@media screen and (max-width:860px){
    .testimonial-grid{
        grid-template-columns: repeat(1,1fr);
        max-height: none;
        padding: 1.5rem;

    }
}

/* NEWSLATTER-CONTAINER */
.news-container{
    max-width: 95%;
    background-color: var(--light-gray);
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 50vh;
    margin-bottom: 6rem;
}
.news-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.news-left{
    width: 50%;
    height: 100%;
}
.news-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
}
.news-right{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 4rem;
    text-align: left;
}

.news-info h2{
    font-size: 2.3rem;
    color: var(--primary-color);
    font-weight: bold;
}
.news-form{
    display: flex;
    gap: 1.2rem;
}
.news-email{
    min-height: 2rem;
    padding: 0.5rem;
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 0.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.news-email:focus{
    border: 2.5px solid var(--primary-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.news-button{
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    min-width: 4rem;
    border: none;
    color: var(--background-color);
    transition: all transform 1s ease-in;
}
.news-button:focus{
    transform: scale(0.9);
}
@media screen and (max-width:860px) {
    .news-left{
        width: 20%;
    }
    .news-info h2{
        font-size: 1.5rem;
    }
    .news-right{
        gap: 1.5rem;
        width: 100%;
        margin-left: 2rem;
    }
}

/* FOOTER-CONTAINER */

.footer-container{
    max-width: 95%;
    margin: 0 auto;
    height: 65vh;
}
.footer-content{
    display: flex;
    gap: 1rem;
}
.footer-left{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 40%;
}
.footer-icons{
    display: flex;
    gap: 1rem;
}
.footer-icons a img {
    height: 2rem;
    width: 2rem;
}
.footer-logo{
    color: var(--dark-gray);
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
}
.footer-desc{
    color: var(--dark-gray);
    text-align: left;
}
.footer-grid{
    max-width: 60%;
    display: grid;
    justify-content: space-around;
    gap: 6rem;
    margin-right: 3rem;
    grid-template-columns: repeat(4,1fr);
}
.footer-column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-grid-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: var(--gray);
    font-size: 0.9rem;
    text-align: left;
}
.footer-grid-header h3{
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--dark-gray);
}
.footer-copyright{
    margin-top: 6rem;
    padding:   1.5rem;
    border-top: 4px solid var(--light-gray);
    color: var(--gray);
    font-size: 0.8rem;
}

@media screen and (max-width:860px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        max-width: 60%;
        gap: 6rem;
        margin-right: 3rem;
    }
    .footer-left{
        min-width: 95%;
        align-items: center;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 1.5rem;
        
    }
}